<section class="Offer">
    <h1 class="offer-header">Offers</h1>
    <div class="offer-divs">

        <div class="offer-cards">
            <img src="https://th.bing.com/th/id/R.4bdb76057c73010415706558f6ad1cce?rik=0%2fA5iZBFpp5yiw&pid=ImgRaw&r=0" class="offers">
            <h2 class="offerDetails">Big Combo offer</h2>
        </div>

        <div class="offer-cards">
            <img src="https://www.tastingtable.com/img/gallery/is-it-worth-it-to-sous-vide-burgers/l-intro-1654193638.jpg" class="offers">
            <h2 class="offerDetails">Couples offer</h2>
        </div>
        <div class="offer-cards">
            <img src="https://images3.alphacoders.com/876/876245.jpg" class="offers">
            <h2 class="offerDetails">Triple offer</h2>
        </div>

        <div class="offer-cards">

            <img src="https://wallpaperaccess.com/full/1312791.jpg" class="offers">
            <h2 class="offerDetails">Group offer</h2>
        </div>

    </div>
</section>
<div class="space"></div>