<header>
    <div class="logo">
        <a href="index.html"> <img class="logo" src="https://i.pinimg.com/originals/be/32/bf/be32bf83a0d490ea735962fd0ec8d01b.png"> </a> 
    </div>
    <nav>
        <ul>
            <li class="act"><a href="#" class="home">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Points</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </nav>
    <div class="menu-toggle">
        <img src="https://mohameds16.github.io/jfc-consultant/images/menu.webp" class="toggle" aria-hidden="true"> 
    </div>
</header>